{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Dr. Tomas Skacel</h1>
        <p>Applying my passion for mathematics in Python to create interesting and useful applications.</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="/static/headshot.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About Me</h2>
        <p>
            I'm a mathematician specializing in abstract and skeletal polyhedra, a mathematics instructor, and a passionate 
            Python programmer. In this portfolio you can find my Python projects that I have completed throughout the Treehouse Python Development Techdegree.    
        </p>
        <p>
            Below you can find my resume, and as always, feel free to reach out with any inquiries.  
        </p>
        <a href="/static/temp_resume.pdf" target="_blank"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}