{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>Applying my passion for mathematics in Python to create interesting and useful applications.</p>
        <img src="/static/headshot.jpg" alt="Headshot of myself">
    </section>
    <section id="about">
        <a href="{{ url_for('about') }}" style="text-decoration:none">
            <h2>About Me</h2>
        </a>
        <p>
            I'm a mathematician, a mathematics instructor, and a passionate 
            Python programmer. In this portfolio you can find my Python projects that I have completed whilst working 
            on the Treehouse Python Development Techdegree. Click  the About Me text above to find out more.  
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Matplotlib</li>
            <li>PyCharm</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
                <div id="project{{ project.id }}" class="a-project">
                    <a href="{{ url_for('project', id=project.id) }}" style="text-decoration:none">
                        <h3>{{ project.title }}</h3>
                    </a>
                    <a href="{{ project.github_url }}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{ project.description }}
                    </p>
                    <p>
                        Skills: {{ project.skills }}
                    </p>
                </div>
            {% endfor %}
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            I can be reached via email or LinkedIn. For any inquiries, please reach out.  
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            skacel.t@northeastern.edu
        </p>
    </section>
{% endblock %}